In [58]:
# Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd

In [59]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path)
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [60]:
html = browser.html
soup = bs(html, 'html.parser')
news_title = soup.find('div', class_='content_title')

In [61]:
#holding = []

#print(len(results))

#for item in news_title:
 #   item = item.text
    #print(item)
  #  holding.append(item)

In [158]:
news_title = (news_title.text)
print(news_title)

More Than 2.4 Million Names Are Going to Mars

In [63]:
html = browser.html
soup = bs(html, 'html.parser')
news_p = soup.find_all('div', class_='article_teaser_body')

In [67]:
holding2 = []

print(len(news_p))

for x in news_p:
    x = x.text
    #print(x[1])
    holding2.append(x)
    
news_p = (holding2[0])

15

In [69]:
print(news_p)

Last month, NASA invited members of the public to send their names to Mars. And the public responded loud and clear.

In [108]:
# This is where we get the image
browser_image = Browser('chrome', **executable_path)
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser_image.visit(url2)

In [124]:
html = browser_image.html
soup = bs(html, 'html.parser')
featured_image = soup.find_all('a', class_='button fancybox')

In [125]:
holding3 = []

print(len(featured_image))

#print(featured_image)

1

In [129]:
for y in featured_image:
    y = y.text
    #print(x[1])
    holding3.append(y)
    
#featured_imaged = (holding3[0])

In [130]:
print(holding3[0])

<a class="button fancybox" data-description="This image from NASA's Mars Reconnaissance Orbiter shows a location on Mars associated with the best-selling novel and Hollywood movie, 'The Martian.' This area is in the Acidalia Planitia region." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19913_ip.jpg" data-link="/spaceimages/details.php?id=PIA19913" data-title="The Ares 3 Landing Site: Where Science Fact Meets Fiction" id="full_image">
					FULL IMAGE
				  </a>

In [32]:
# Mars weather

browser_weather = Browser('chrome', **executable_path)
url_weather = 'https://twitter.com/marswxreport?lang=en'
browser_weather.visit(url_weather)
html = browser_weather.html
soup = bs(html, 'html.parser')
mars_weather = soup.find('div', class_='js-tweet-text-container')

In [156]:
mars_weather = (mars_weather.text)
print(mars_weather)

Sol 1862 (Nov 01, 2017), Sunny, high -30C/-22F, low -81C/-113F, pressure at 8.54 hPa, daylight 05:56-17:39

In [150]:
#mars facts
url_facts = 'http://space-facts.com/mars/'
tables = pd.read_html(url_facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 째C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [152]:
tables_df = pd.DataFrame(tables[0])

tables_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [153]:
html_table = tables_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 째C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
for td in tds:
    if(td.a):
        if(td.a.text):
            headlines.append(td)

In [ ]:
print(headlines)

In [ ]:
for x in range(len(headlines)):
        print(headlines[x].text)